@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  /* background-color: #000000; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Montserrat", sans-serif;
  background: black;
}

* {
  color: #e3e3e8;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 2rem;
  color: #e0e6ed; /* Customize based on your palette */
  animation: blink 1s step-start infinite;
}

.moving-border {
  border: 3px solid #0000;
  background: linear-gradient(#2b2f3a, #0a0f29) padding-box,
    linear-gradient(var(--angle), #007bff, #2b2f3a) border-box;
  animation: 4s rotate linear infinite;
}

.moving-border-project {
  border: 3px solid #0000;
  background: linear-gradient(#000000d9, #14141e) padding-box,
    linear-gradient(var(--angle), #0076f5, #43227d) border-box;
  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
